BASE_URL=localhost # localhost | http://10.63.112.34:3011 | https://links.your-domain.com
HOST= # empty defaults to 0.0.0.0
PORT=3011
DB_PATH=./data/pivotal.db
CACHE_SIZE=1000 # LRU cache size
RELEASE_VERSION=local # local | latest | v1.0.0
